fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
sqlalchemy==2.0.30
pymysql==1.1.0
requests==2.31.0
pymilvus==2.4.1
langchain-core==0.1.52
langchain-community==0.0.34
langchain-text-splitters==0.0.1
fastembed==0.3.5
